body{
	background-color: rgba(49, 112, 143, 0.94);
}
h1{
	font-size: 55px;
    margin-left: 17px;
}
button, div, form, input {
			margin: 10px;
}
img{
    width: 244px;
    height: 164px;
}

.topicSet{
	border: 3px solid black;
}
.frame{
	display: inline-table;
}
#addTopic{
	background-color: rgba(245, 245, 245, 0.63);
	margin-left: 0px;
}
#search-form{
	margin-left: 20px;
}
